body {
height: 200vh;
}
div.static {
  position: static;
  border: 3px solid #73AD21;
}

div.relative {
  position: relative;
  border: 79px solid #73AD21;
  left: 76px;
  top: 80px;}
 
div.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 200px;
  border: 3px solid #73AD21;
}
